.dynamic-toast {
  display: flex;
  align-items: center;
  .dynamic-toast-icon {
    padding: 5px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .toast-msg {
    padding: 5px 0;
    font-size: 14px;
    font-weight: 500;
    color: white;
  }
}

.dynamic-toast-error-bg {
  background-color: rgba(255, 0, 0, 0.5) !important;
  backdrop-filter: blur(10px);
}
.dynamic-toast-warning-bg {
  background-color: rgba(255, 140, 0, 0.6) !important;
  backdrop-filter: blur(10px);
}
.dynamic-toast-success-bg {
  background-color: rgba(20, 173, 0, 0.5) !important;
  backdrop-filter: blur(10px);
}
.dynamic-toast-custom-bg {
  background-color: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(10px);
}
.Toastify__toast {
  margin: 10px 0 !important;
  padding: 0 !important;
  box-shadow: 5px 5px 10px var(--black03) !important;
  &-body {
    margin: 0 !important;
    padding: 0 !important;
  }
}
.Toastify__close-button {
  padding: 10px !important;
}
