.PageHeader {
  background-color: var(--signature);
  color: white;
  .content {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: var(--default-layout-width);
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px 0;
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
  }
}
